html:root {
  --black_300: #151515;
  --white_900: #ffffff;
  --blue_500: #2f80ed;
  --red_100: #ff0000;
  --gray_700: #c5c5c5;
  --button_hover_dark: #393939;
  --button_hover_blue: #579fff;
  --button_hover_white: #eeeeee;
  --alert-color: rgb(250, 150, 150);
}

html:root {
  --text_l: 55px;
  --text_xl: 32px;
  --text_lg: 24px;
  --text_base: 20px;
  --text_m: 14px;
  --text_xs: 12px;
  --text_xsm: 10px;
  --text_min: 8px;
  --text_xmin: 6px;
}

html,
body {
  .ant-modal-wrap {
    overflow: hidden;
  }

  --primary-font: Roboto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  user-select: initial;
  box-sizing: border-box;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
